html {
  text-size-adjust: 100%;
}
.Design {
  height: 1em;
  padding: 14px 16px;
}
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.topnav {
  display: flex;
  margin: 0 3em;
  border-top: 5px solid red;
}

a:hover {
  background-color: #A9A9A9
}

.topnav a {
  color: #000000;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.topnav a.active {
  color: red;
}


.photos img:hover{
  opacity: .12;

}

.nav-container {
  background-color: #D3D3D3;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-left: 20px;
}
.photos {
  display: flex;
  justify-content: center;
}
.Wall-e{
  margin-right: auto;

}
.photos img{
  width: 300px;
  height: 300px;
  margin: 10px auto;
}

h1 {
  text-align: center;
  color: #696969;
  font-family: "Century Gothic", sans-serif;
  margin: 1em 0 0 0;
  padding-top: 2.5em;
}

h2 {
  text-align: center;
  color: #696969;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}

h3 {
  color: red;
  padding-bottom: 5px;
}

.first-paragraph {
  display: flex;
  flex-direction: row;

}


.articles {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-content: space-between;
  margin: 10px auto;
  font-size: 10px;
  max-width: 600px;
}

.articles div.whats-new {
  flex: 1;

}
.articles div.modern-layouts {
  flex: 3;
}

.articles div.modern-layouts p {
  column-count: 3;
}

@media (max-width: 460px) {
  .articles {
    display:block;
  }
.nav-container {
  flex-wrap: wrap;
}
.topnav a{
  flex: 1;
  margin-bottom: 0.5em;

}
}


.articles {
  display:block;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}
